body {
  /* background-color: #29282c; */
  background-color: white;
  /* background-color: #dcc7aa; */
  /* background-color: white; */
  /* font-family: Poppins; */
  /* background-color: powderblue; */
  /* background-image: url("../images/general/wallpaper1.jpg"); */
  /* background-color: rgba(0, 0, 0, 0.4); */
}

/* .container-fluid {
  background-color: rgba(0, 0, 0, 0.4);
} */

span {
  color: black;
  font-weight: bolder;
}

h1 {
  /* color: #f7bb0e; */
  color: rgb(0, 47, 53);
}
hr {
  color: rgb(0, 47, 53);
  /* background-color: #f7bb0e; */
}
label {
  color: black;
}
table {
  background-color: rgba(0, 0, 0, 0);
}
td {
  color: black;
}
th {
  color: rgb(0, 47, 53);
  /* color: #f7bb0e; */
  font-size: medium;
}
