body {
  background-color: #29282c;
  /* background-color: #dcc7aa; */
  /* background-color: white; */
  /* font-family: Poppins; */
  /* background-color: powderblue; */
  /* background-image: url("../images/general/wallpaper1.jpg"); */
  /* background-color: rgba(0, 0, 0, 0.4); */
}

/* .container-fluid {
  background-color: rgba(0, 0, 0, 0.4);
} */

span {
  color: #f7bb0e;
}

h1 {
  color: #f7bb0e;
}
hr {
  background-color: #f7bb0e;
}
label {
  color: white;
}
table {
  background-color: rgba(0, 0, 0, 0);
}
td {
  color: white;
}
th {
  color: #f7bb0e;
  font-size: medium;
}
